.poster{
    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 20px;
      }
    margin-bottom: 30px;
    .poster__img{
      border-radius: 20%;
      img{
        width: 100%;
        object-fit: fill;
      }
    }
  }