@import "../../../styles/media";
@import "../../../styles/mixins";
.poster {
    margin-bottom: 30px;
    &__title {
        max-width: 550px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 0 20px;
    }
    &__description {
        @include fluid-text(23, 18);
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
        font-weight: 400;
        color: rgb(78, 78, 78);
        margin-bottom: 40px;
        @include mobile {
            margin-bottom: 20px;
        }
    }
    &__image {
        height: 150px;
        width: 100%;
        overflow: hidden;
        background: url("../../../public/img/other/fruitRainbow.png") center/contain no-repeat;
        @include tablet {
            background: url("../../../public/img/other/fruitRainbow-tablet.png") center/contain no-repeat;
        }
        @include mobile {
            background: url("../../../public/img/other/fruitRainbow-mobile.png") center/contain no-repeat;
            height: 200px;
        }
    }
    img {
        // object-fit: cover;
        // width: 100%;
        // height: 100%;
    }
    .container {
        padding: 20px 0;
    }
}
