@import "../../../styles/media";
.card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: var(--transition);
    width: 100%;
    cursor: pointer;
    @include tablet {
        padding: 20px 25px;
    }
    &__svg-wrapper {
        position: relative;
        width: 33.5px;
        height: 33.5px;
        border: var(--border);
        border-radius: var(--border-radius-s);
        transition: all .5s ease-in 0s;
        svg {
            position: absolute;
            top: 50%;
            height: 50%;
            transform: translate(-50%, -50%);

        }
        &:hover{
            background-color: white;
            cursor: pointer;
        }
    }
    &__image-like,
    &__image-plus {
        position: relative;
        border: var(--border);
        border-radius: var(--border-radius-s);
        width: 33.5px;
        height: 33.5px;
    }
    &__image-cancel {
        display: none;
    }
    &__image-fruit {
        max-width: 100%;
        margin-bottom: 15px;
        height: 45%;
        object-fit: contain;

        // @include mobile {
        //     margin: 0 auto;
        //     width: 60%;
        // }
    }

    &__title {
        font-weight: 700;
        text-align: center;
    }
    &__description {
        text-align: center;
        color: var(--color-grey);
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 10px;
        height: 100%;
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-value {
            font-size: 14px;
            font-weight: 700;
        }
    }

    &:hover {
        box-shadow: var(--box-shadow);
        background-color: var(--color-soft-grey);
    }
}
.card__skeleton {
    padding: 30px;
    height: 100%;
}
.card__image-plus > path {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
}
