@import "../../../styles/media";

.header__logo-wrapper{
    display: flex;
    align-items: center;
}
.main-navigation {
    display: flex;
    align-items: center;
    padding: 30px 0;
    .logo {
        width: 80px;
        // height: 80px;
        margin-right: 15px;
    }
    .main-navigation__title {
        font-family: "Inter";
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }
    .main-navigation__descriptor{
        @include mobile-low {
            display: none;
        }
    }
    .main-navigation__description {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;

    }
    .main-navigation__list {
        display: flex;
        margin-left: auto;
        .main-navigation__item {
            display: flex;
            margin-right: 30px;
            cursor: pointer;
            a {
                display: flex;
            }
            img {
                margin-right: 10px;
                @include mobile {
                    width: 25px;
                    height: 25px;
                }
            }
            .main-navigation__name {
                text-wrap: nowrap;
                @include mobile {
                    display: none;
                }
            }
        }
        .main-navigation__item:last-child {
            margin-right: 0px;
        }
    }
}
