@import "mixins";


/* Globals */
body {
    @include fluid-text(16, 14);
    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.28;
    color: var(--color-black);
    background-color: var(--background-color-main);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

h1,h2,h3,h4 {
    color: var(--color-black);
}
h2 {
    @include fluid-text(40, 30);
}
h3 {
    @include fluid-text(24, 18);
  }
h4 {
    @include fluid-text(16, 14);
}

button {
    @include reset-button;
}

a {
    text-decoration: none;
    color: inherit;
}
