$desktop: 1280px;
$desktop-above: 1281px;
$tablet: 1023px;
$tablet-above: 1024px;
$mobile: 767px;
$mobile-above: 768px;
$mobile-low: 475px;
$mobile-low-above: 476px;

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}
@mixin desktop-above {
    @media (min-width: $desktop-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}
@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}
@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

@mixin mobile-low {
    @media (max-width: $mobile-low) {
        @content;
    }
}
@mixin mobile-low-above {
    @media (min-width: $mobile-low-above) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
    @media (hover: none) {
        &:active {
            @content;
        }
    }
}
@mixin background-gradient($start-color, $end-color, $orientation) { 
  background: $start-color;

  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}